body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c2cdfd;
  color: #00188e;
}

header {
  background-color: #5170ff;
  text-align: center;
  padding: 10px 10px 10px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

.logout-btn {
  position: absolute;
  top: 40px;
  right: 90px;
  background-color: #abbaff;
  color: #00188e;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #3f51b5; 
}

.link-calendario {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-decoration: none;
  background: #0032c9;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 500;
}

.container.narrow {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-top: 12px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9d3ff;
  border-radius: 10px;
  margin-top: 6px;
  font-size: 15px;
}

.primary-btn {
  margin-top: 20px;
  background: #5170ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #3e57e4;
}

/* Calendário */
.calendar-card {
  padding: 20px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-btn {
  background: none;
  border: none;
  color: #5170ff;
  font-size: 20px;
  cursor: pointer;
}
.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}
.calendar th {
  color: #7a8aff;
  padding: 6px;
}
.calendar td {
  height: 70px;
  border-radius: 8px;
  vertical-align: top;
  position: relative;
}
.calendar td:hover {
  background: #e3ebff;
}
.day-num {
  position: absolute;
  top: 6px;
  left: 8px;
  font-weight: bold;
}
.dia-hoje {
  background: #c2ccff;
}
.tarefa-dot {
  width: 8px;
  height: 8px;
  background: #5170ff;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.menuinferior {
    position: fixed;
    bottom: 10px;
    left: 93%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.menuinferior button {
    background-color: #5170ff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.menuinferior button:hover {
    background-color: #283593;
}

.menuinferior img {
    width: 25px;
    height: 25px;
}