body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #c2cdfd;
    color: #00188e;
}

header {
    background-color: #5170ff;
    text-align: center;
    padding: 10px 10px 10px;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

.voltar-btn {
    position: absolute;
    top: 160px;
    left: 40px;
    background-color: #5170ff;
    color: #00188e;
    border: none;
    border-radius: 20px;
    padding: 15px 30px; 
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.voltar-btn:hover {
    background-color: #3f51b5; 
}

.form-container {
    background-color: #5170ff;
    width: 400px;
    height: 370px;
    margin: 60px auto;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 15px;
    margin: 16px -14px;
    font-size: 16px;
    border: none;
    background-color: #abbaff;
    color: white ;
    border-radius: 8px;
    cursor: pointer;
}

input:hover {
    background-color: #0b1670;
}

.botao-cadastrar {
    background-color: #00188e;  
    color: white;               
    font-size: 20px;
    padding: 15px 30px;         
    border: none;
    border-radius: 20px;        
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
}

.botao-cadastrar:hover {
    background-color: #0027cc;  
}

.login {
    margin-top: 26px;
    font-size: 15px;
    color: #00188e;
}

.login a {
    color: #00188e;
    font-weight: bold;
    text-decoration: none;
}

.login:hover {
    color: #0d2dcc;
    text-decoration: underline;
}