body {
    background-color: #abbaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.menuinferior {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.menuinferior button {
    background-color: #5170ff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.menuinferior button:hover {
    background-color: #283593;
}

.menuinferior img {
    width: 25px;
    height: 25px;
}

.voltar-btn {
    position: absolute;
    top: 60px;
    left: 40px;
    background-color: #5170ff;
    color: #00188e;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}
.voltar-btn:hover {
    background-color: #3f51b5; 
}