body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #a9b5f5;
  color: #00188e;
  text-align: center;
}

header {
  background-color: #5170ff;
  padding: 20px 20px;
  color: #00188e;
}

header h1 {
  font-size: 60px;
  margin: 0;
}

header p {
  font-size: 24px;
  margin-top: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.btn {
  background-color: #5170ff;
  color: #00188e;
  font-size: 24px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3f51b5;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 100px 0;
  padding: 0 20px;
  gap: 70px;
}

.card {
  background-color: #5170ff;
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
}

.card img, .image-placeholder {
  width: 100%;
  max-width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  color: #001a7e;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.card p {
  font-size: 18px;
  font-weight: bold;
}
