body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c2cdfd;
  color: #00188e;
}

header {
  background-color: #5170ff;
  text-align: center;
  padding: 10px 10px 10px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

.menuinferior {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.menuinferior button {
  background-color: #5170ff;
  border: none;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}

.menuinferior button:hover {
  background-color: #283593;
}

.menuinferior img {
  width: 25px;
  height: 25px;
}

.logout-btn {
  position: absolute;
  top: 40px;
  right: 90px;
  background-color: #abbaff;
  color: #00188e;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #3f51b5; 
}

.container {
  display: flex;
  gap: 70px;
  margin-bottom: 60px;
}

.card {
  background-color: #5170ff;
  padding: 25px;
  border-radius: 20px;
  width: 850px;
  min-height: 500px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  position: relative;
}

body h2 {
  color: #00188e;
  font-size: 25px;
  text-align: center;
}

.add-btn {
  position: absolute;
  top: 14px;
  right: 12px;
  background-color: #a9b6f3;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #00188e;
}
.add-btn:hover {
  background-color: #3f51b5;
  color: #a9b6f3;
}

.agenda {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color:#00188e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 4px solid #a9b6f3;
  height: 80px;
  vertical-align: top;
  padding: 5px;
}

#formulario {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
}

.btn-excluir {
  margin-left: 8px;
  padding: 2px 6px;
  background-color: #00188e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-excluir:hover {
  background-color: #e60000;
}
