body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #abbaff;
  color: #00188e;
}

header {
  background-color: #5170ff;
  text-align: center;
  padding: 30px 20px 10px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

.voltar-btn {
  position: absolute;
  top: 180px;
  left: 40px;
  background-color: #5170ff;
  color: #00188e;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 28px;
  cursor: pointer;
}
.voltar-btn:hover {
  background-color: #3f51b5; 
}

.form-container {
  background-color: #5170ff;
  width: 400px;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #a9b5f5;
  margin: 0 auto 30px;
  border: 4px solid #00188e;
  background-image: url('avatar.svg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

input {
  width: 90%;
  padding: 15px;
  margin: 12px -14px;
  font-size: 16px;
  border: none;
  background-color: #00188e;
  color: white ;
  border-radius: 4px;
  cursor: pointer;
}

input:hover {
  background-color: #0027cc;
}

.botao-logar {
  background-color: #00188e;  
  color: white;               
  font-size: 18px;
  padding: 15px 30px;         
  border: none;
  border-radius: 30px;        
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 30px;
}

.botao-logar:hover {
  background-color: #0027cc;  
}

.cadastro {
  margin-top: 16px;
  font-size: 14px;
  color: #00188e;
}

.cadastro a {
  color: #00188e;
  font-weight: bold;
  text-decoration: none;
}

.cadastro:hover {
  color: #0d2dcc;
  text-decoration: underline;
}