body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #c2cdfd;
    color: #00188e;
}

header {
    background-color: #5170ff;
    text-align: center;
    padding: 10px 10px 10px;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

.menuinferior {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.menuinferior button {
    background-color: #5170ff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.menuinferior button:hover {
    background-color: #283593;
}

.menuinferior img {
    width: 25px;
    height: 25px;
}

.logout-btn {
    position: absolute;
    top: 40px;
    right: 90px;
    background-color: #abbaff;
    color: #00188e;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #3f51b5; 
}

.container {
    display: flex;
    gap: 70px;
    margin-bottom: 60px;
}

.card {
    background-color: #5170ff;
    padding: 25px;
    border-radius: 20px;
    width: 400px;
    min-height: 500px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    position: relative;
    margin-top: 20px;
    margin-left: 130px;
}

.card h3 {
    text-align: center;
    color: #00188e;
    margin-bottom: 20px;
    font-size: 18px;
}

.tarefa-card {
    background-color: #3a54d0;
    padding: 8px;
    margin: 5px 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.tarefa-card input {
    margin-right: 8px;
}
